@import "../../global.scss";

.navbar{
  width: 100%;
  height: 70px;
  // background-color: white;
  background-color: #333333;
  color:rgb(34, 6, 61);
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;
  overflow: hidden;


  .wrapper{
    height: 70px;
    width: 100%;
    // padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    .left{
      display: flex;
      align-items: center;

      .logo{

        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color:inhert;
        margin-right: 40px;
        // color: rgb(190, 143, 234);
        color:  #FFFFFF;
      }
      .itemcontainer{
        display: flex;
        align-items: center;
        margin-left: 30px;

        @include mobile{
          display: none;
        }

        span{
          font-size: 18px;
          font-weight: 600;
          color:  #FFFFFF;
        }
      }
    }

    .right{

      .humburger{
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        overflow: hidden;

        span{
          width: 100%;
          height: 3px;
          // background-color: rgb(34, 6, 61);
          background-color:  #FFFFFF;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
}

  &.active{
    // background-color:rgb(34, 6, 61);
    // background-color: #FFFFFF;
    color: #333333;
    // color: white;

    .humburger{
      span{
        &:first-child{
          background-color: white;
          // background-color: #333333;
          transform: rotate(45deg);
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:last-child{
          background-color: white;
          // background-color: #333333;
          transform: rotate(-45deg);
        }
      }
    }
  }
}