@import "../../global.scss";

.work1{
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    // align-items: center;
    justify-content: center;
    overflow: hidden;

    .topbar{
        // background-color:#2587be;
        background-color: #2587BE;
        // background-color: crimson;
        width: 100vw;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: xx-large;
        font-weight: 900;
        color:rgb(118, 12, 104);
        overflow: hidden;

    }

    .section{
        // background-color: rgb(98, 105, 144);
        width: 100vw;
        height: calc(100vh - 70px);
        // height: 100vh;
        top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        overflow: hidden;
        padding-top: 60px;


        .row1{
            width: 100vw;
            // height: calc(100vh - 650px);
            height: 250px;
            display: flex;
            align-items: center;
            // justify-content: center;
            justify-content: space-around;
            overflow: hidden;
            // background-color: aqua;


            .columb1{
                background-color: black;
                width: 250px;
                height: 250px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                // background-color: bisque;
                background-color: #25a5be;
                overflow: hidden;
                border: 2px;
                border-radius: 15px;

                @include mobile{
                    width: 170px;
                    height: 140px;
                    margin: 5px;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }

                img{
                    height: 150px;
                    width: auto;
                    // border-radius: 50%;
                    margin-bottom: 15px;
                }

                h4{
                    overflow: hidden;
                    height: 30px;
                    width: 250px;
                    text-align: center;
                    font-size:x-large;
                    font-weight: 500;
                    padding-bottom: 20px;
                    color: #333333;

                    @include mobile{
                        height: 20px;
                        width: 200px;
                        font-size: medium;
                        padding-left: 20px;
                        text-align: left;
                    }
                }


            }

            

            

            

        }

    }
}